<div id="container">
  <div id="map">
    <app-background></app-background>
    <app-sun></app-sun>
    <canvas #animated></canvas>
    <div #canvasShadow>
      <canvas *ngFor="let i of canvasLayers"></canvas>
    </div>
    <div #canvasBubble>
      <canvas *ngFor="let i of canvasLayers"></canvas>
    </div>
    <div id="info">
      <div id="time">{{time}}</div>
      <div id="counter">{{globalCounter}}</div>
    </div>
    <div id="footer">
      <p>© 2017 Made with love by Yannick Galatol @ Montpellier, France</p>
    </div>
  </div>
</div>
<app-loader [visible]="isLoaderDisplayed"></app-loader>
