<div id="container">
  <div class="header">
    <p>© 2017 Made with ♥ by <a href="http://github.com/yannickglt" target="_blank">@YannickGalatol</a> @ Montpellier, France. Design by <a href="http://dribbble.com/_qunt" target="_blank">@Qunt</a>.</p>
  </div>
  <div id="map">
    <app-background></app-background>
    <app-sun></app-sun>
    <canvas #animated></canvas>
    <div #canvasShadow>
      <canvas *ngFor="let i of canvasLayers"></canvas>
    </div>
    <div #canvasBubble>
      <canvas *ngFor="let i of canvasLayers"></canvas>
    </div>
    <div class="info">
      <app-meridians></app-meridians>
      <div class="time">
        <div>{{time}}</div>
      </div>
      <div class="counter">{{globalCounter|number}}</div>
      <div class="time">
        <div>{{label}}</div>
      </div>
    </div>
  </div>
</div>
<app-loader [visible]="isLoaderDisplayed"></app-loader>
